
// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #77b924;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$dark-gray: #222222;
$lighter-gray: #313131;
$bright-green: #8ad12c;
$bright-blue: #087ee9;

$gray-text: #ababab;
$lt-text: #727272;
$status0: #e7a628;
$status1: $green;
$status4: #4080d0;
